<div>
  <section>
    <h2>Dodaj nowy obiekt</h2>

    <form (ngSubmit)="onSubmit()" #newSportComplexForm="ngForm">
      <div class="form-group">
        <label for="name">Nazwa</label>
        <input [formControl]="name" name="name" type="text" class="form-control" aria-describedby="name"
               placeholder="Podaj nazwę" required>
      </div>

      <div class="form-group form-row">
        <div class="col">
          <label for="bookingMargin.months">Margines rezerwacji (w miesiąch)</label>
          <input [formControl]="bookingMarginInMonths" name="bookingMargin.months" type="number" class="form-control" aria-describedby="booking margin in months"
                 placeholder="Podaj margines rezerwacji (w miesiącach)" required>
        </div>

        <div class="col">
          <label for="bookingMargin.days">Margines rezerwacji (w dniach)</label>
          <input [formControl]="bookingMarginInDays" name="bookingMargin.days" type="number" class="form-control" aria-describedby="booking margin in days"
                 placeholder="Podaj margines rezerwacji (w dniach)" required>
        </div>
      </div>

      <div class="form-group">
        <label for="street">Ulica</label>
        <input [formControl]="street" name="street" type="text" class="form-control" aria-describedby="street"
               placeholder="Podaj ulicę" required>
      </div>

      <div class="form-group">
        <label for="buildingNumber">Numer budynku</label>
        <input [formControl]="buildingNumber" name="buildingNumber" type="text" class="form-control" aria-describedby="building number"
               placeholder="Podaj numer budynku" required>
      </div>

      <div class="form-group">
        <label for="postalCode">Kod pocztowy</label>
        <input [formControl]="postalCode" name="postalCode" type="text" class="form-control" aria-describedby="postal code"
               placeholder="Podaj kod pocztowy" required>
      </div>

      <div class="form-group">
        <label for="city">Miasto</label>
        <input [formControl]="city" name="city" type="text" class="form-control" aria-describedby="city"
               placeholder="Podaj miasto" required>
      </div>
      <button type="submit" class="btn btn-primary">Dodaj obiekt</button>
    </form>
  </section>
</div>

