<div class="modal fade" [id]="modalId" role="form">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Dodaj nowe wydarzenie</h5>
        <button type="button" class="close" aria-label="Close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form novalidate>
          <div class="form-group">
            <label>Nazwa</label>
            <input [formControl]="event.name" [class.is-invalid]="event.name.invalid && (event.name.touched || event.name.dirty)"
                   class="form-control" type="text">
            <div class="invalid-feedback">
              Podaj nazwę
            </div>
          </div>
          <div [formGroup]="event.timeFrame" class="form-row">
            <div class="col form-group">
              <label>Godzina rozpoczęcia</label>
              <input [class.is-invalid]="isInvalid(event.timeFrame)" formControlName="start"
                     class="form-control" type="time" step="1800" min="00:00" />
              <div *ngIf="isInvalid(event.timeFrame)" class="invalid-feedback">
                Godzina zakończenia musi być później niż godzina rozpoczęcia
              </div>
              <div *ngIf="isInvalid(event.startTime)" class="invalid-feedback">
                Pole wymagane
              </div>
            </div>
            <div class="col form-group">
              <label>Godzina zakończenia</label>
              <input [class.is-invalid]="isInvalid(event.timeFrame)" formControlName="end"
                     class="form-control" type="time" min="00:00" />
              <div *ngIf="isInvalid(event.timeFrame)" class="invalid-feedback">
                Godzina zakończenia musi być później niż godzina rozpoczęcia
              </div>
              <div *ngIf="isInvalid(event.endTime)" class="invalid-feedback">
                Pole wymagane
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col form-group">
              <label>Minimalna liczba osób</label>
              <input [formControl]="event.minParticipants" [class.is-invalid]="event.minParticipants.invalid"
                     class="form-control" type="number" min="1" value="1" />
              <div class="invalid-feedback">
                Podaj poprawną wartość
              </div>
            </div>
            <div class="col form-group">
              <label>Maksymalna liczba osób</label>
              <input [formControl]="event.maxParticipants" [class.is-invalid]="event.maxParticipants.invalid" class="form-control"
                     type="number" min="1" value="1" />
              <div class="invalid-feedback">
                Podaj poprawną wartość
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="col form-group">
              <label>Czas na dołączenie <small class="text-muted">(w dniach)</small></label>
              <input [formControl]="event.joinPhaseDuration" [class.is-invalid]="event.joinPhaseDuration.invalid"
                     class="form-control" type="number" min="1" value="1" />
              <div class="invalid-feedback">
                Podaj poprawną wartość
              </div>
            </div>
            <div class="col form-group">
              <label>Czas na płatność <small class="text-muted">(w dniach)</small></label>
              <input [formControl]="event.paymentPhaseDuration" [class.is-invalid]="event.paymentPhaseDuration.invalid"
                     class="form-control" type="number" min="1" value="1" />
              <div class="invalid-feedback">
                Podaj poprawną wartość
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Całkowita cena</label>
            <div class="input-group">
              <input class="form-control" type="number" min="0" readonly [value]="10" />
              <div class="input-group-append">
                <span class="input-group-text">PLN</span>
              </div>
            </div>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <ng-container [ngSwitch]="(getActions() | async)">
          <ng-container *ngSwitchCase="ModalActionType.SIGN_IN">
            <span><a routerLink="/sign_in" data-dismiss="modal">Zaloguj się </a> aby utworzyć nowe wydarzenie</span>
          </ng-container>
          <ng-container *ngSwitchCase="ModalActionType.OWNER_CANT_DO_THIS">
            Jako właściciel kompleksów sporotywch nie możesz dodawać w ten sposób wydarzeń
          </ng-container>
          <ng-container *ngSwitchCase="ModalActionType.CREATE_EVENT">
            <button (click)="createEvent()" [disabled]="!event.isValid" data-dismiss="modal" type="submit"
                    class="btn btn-success">
              Dodaj
            </button>
            <button class="btn btn-danger" data-dismiss="modal">Zamknij</button>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
</div>
