<div class="row">
  <div class="col">
    <header>
      <div class="text-center justify-content-center">
        <h1>Vinci!</h1>
      </div>
    </header>

    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>O aplikacji</h2>
            <p class="lead">
              Czy trenujesz piłkę nożną, siatkówkę, badmintona 🏸 albo jakikolwiek inny sport drużynowy? Czy masz czasem
              trudności ze znalezeniem odpowiedniej liczby osób do gry? Jeśli tak to Vinci może pomóc Ci w rozwiązaniu tego problemu. Ta aplikacj umożliwia:
            </p>
            <ul>
              <li>Odkrycie obiektów sportowych, na których możesz trenować</li>
              <li>Rezerwacje tych obiektów na określony dzień i określoną godzinę</li>
              <li>Znalezienie chętnych do wspólnej gry</li>
              <li>Płatność za rezerwacje</li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Jak zacząć ?</h2>
            <p class="lead">Zarejestruj się przy użyciu Facebook'a bądź załóż zwykłe konto</p>
            <button type="button" class="btn btn-primary" style="margin-right: 1vw">Facebook</button>
            <button type="button" class="btn btn-primary">Zwykłe konto</button>
          </div>
        </div>
      </div>
    </section>

    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2>Co dalej?</h2>
            <p class="lead">
              Po rejestracji uzyskasz dostęp do mapy, która prezentuje wszystkie wydarzenia sportowe dostępne w aplikacji.
              Znajdź jakieś, które Cię zainteresuję bądź załóż swoje własne!
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

