<div class="row">
  <nav class="col navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">{{ title }}</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLink="/sign_in" class="nav-link">Sign in</a>
        </li>
        <li class="nav-item active">
          <a routerLink="/sign_up" class="nav-link">Sign up</a>
        </li>
        <li class="nav-item active">
          <a routerLink="/map" class="nav-link">Map</a>
        </li>
        <li *ngIf="isAdmin" class="nav-item active">
          <a routerLink="/admin_dashboard" class="nav-link">Manage your facilities</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
