<section *ngIf="complex">
  <h2> Podstawowe informacje </h2>
  <p>Nazwa kompleksu:
    <span class="font-weight-bold">{{complex.name}}</span>
  </p>

  <p>Obiekty sportowe:</p>
  <ul>
    <li *ngFor="let sportObject of (sportObjects$ | async)">
      <a routerLink="/owner/object/{{sportObject.id}}">{{sportObject.name}}</a>
    </li>
  </ul>

  <h2> Dostępne akcje</h2>

  <div class="accordion" id="sport-complex-accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <a routerLink="new_sport_object" data-toggle="collapse" data-target="#collapseOne">Dodaj nowy obiekt</a>
      </div>

      <div id="collapseOne" class="collapse" data-parent="#sport-complex-accordion">
        <div class="card-body">
          <app-new-sport-object [sportComplexId]="complex.id"></app-new-sport-object>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <a routerLink="" data-toggle="collapse" data-target="#collapseTwo">Edytuj dane kompleksu</a>
      </div>

      <div id="collapseTwo" class="collapse" data-parent="#sport-complex-accordion">
        <div class="card-body">
          <app-edit-sport-complex [complexId]="complex.id"></app-edit-sport-complex>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header" id="headingThree">
        <a href="#" data-toggle="collapse" data-target="#collapseThree">Usuń kompleks</a>
      </div>

      <div id="collapseThree" class="collapse" data-parent="#sport-complex-accordion">
        <div class="card-body">
          <app-delete-sport-complex [complexId]="complex.id"></app-delete-sport-complex>
        </div>
      </div>
    </div>
  </div>
</section>
