<div *ngIf="event">
  <div class="modal fade" [id]="modalId">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5>{{event.title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row mt-2 mb-2">
              <div class="col">
                Początek: {{ event.start.getHours() }}:{{ event.start.getMinutes() }}
              </div>
              <div class="col">
                Koniec: {{ event.end.getHours() }}:{{ event.end.getMinutes() }}
              </div>
            </div>
            <div class="row mt-2 mb-2">
              <div class="col">
                Minimalna liczba osób: {{ event.minParticipants }}
              </div>
              <div class="col">
                Maksymalna liczba osób: {{ event.maxParticipants }}
              </div>
            </div>
            <div class="row mt-2 mb-2">
              <div class="col">
                <ng-container *ngIf="event.participators.length > 0; else emptyEvent" >
                  <span>Zapisani (łącznie: {{ event.participators.length }}):</span>
                  <ul>
                    <li *ngFor="let user of event.participators" class="mt-2">{{ user.displayName }}</li>
                  </ul>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer" [ngSwitch]="(participationStatus | async)">
          <ng-container *ngSwitchCase="ParticipationStatus.DID_NOT_JOIN">
            <button (click)="joinEvent()" type="submit" class="btn btn-success">Dołącz</button>
          </ng-container>
          <ng-container *ngSwitchCase="ParticipationStatus.JOINED">
            <button type="submit" data-dismiss="modal" class="btn btn-success">Zapłać</button>
            <button (click)="resignFromEvent()" class="btn btn-danger">Zrezygnuj</button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyEvent>
  <span> Jeszcze nikt nie dołączył do tego wydarzenia </span>
</ng-template>
