<div *ngIf="event">
  <div class="modal fade" [id]="modalId">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5>{{event.title}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row mt-2 mb-2">
              <div class="col">
                Początek wydarzenia: {{ formatTime(event.start) }}
              </div>
              <div class="col">
                Koniec wydarzenia: {{ formatTime(event.end) }}
              </div>
            </div>
            <div class="row mt-2 mb-2">
              <div class="col">
                Koniec etapu dołączania: <br />
                {{ formatDateTime(event.joiningEnd) }}
              </div>
              <div class="col">
                Koniec etapu płacenia: <br />
                {{ formatDateTime(event.payingEnd) }}
              </div>
            </div>
            <div class="row mt-2 mb-2">
              <div class="col">
                Minimalna liczba osób: {{ event.minParticipants }}
              </div>
              <div class="col">
                Maksymalna liczba osób: {{ event.maxParticipants }}
              </div>
            </div>
            <div class="row mt-2 mb-2">
              <div class="col">
                <ng-container *ngIf="event.participators.length > 0; else emptyEvent" >
                  <span>Zapisani (łącznie: {{ event.participators.length }}):</span>
                  <ul>
                    <li *ngFor="let user of event.participators" class="mt-2">{{ user.displayName }}</li>
                  </ul>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <app-event-action [action]="(getActions() | async)" [join]="joinEvent(myStore, event.id)" [pay]="pay(myStore, event.id)" [resign]="resignFromEvent(myStore, event.id)">
          </app-event-action>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #emptyEvent>
  <span> Jeszcze nikt nie dołączył do tego wydarzenia </span>
</ng-template>

<!--<div [ngSwitch]="(userStatus | async)" class="modal-footer">-->
  <!--<ng-container *ngSwitchCase="ParticipationStatus.DID_NOT_JOIN">-->
    <!--<div *ngIf="event.isJoiningPossible(currentUser$ | async); else notJoinable">-->
      <!--<button (click)="joinEvent()" type="submit" class="btn btn-success">Dołącz</button>-->
    <!--</div>-->
    <!--<ng-template #notJoinable>-->
      <!--<span class="font-weight-bold">Nie możesz dołączyć do tego wydarzenia</span>-->
    <!--</ng-template>-->
  <!--</ng-container>-->
  <!--<ng-container *ngSwitchCase="ParticipationStatus.JOINED">-->

    <!--<button (click)="pay()" type="submit" data-dismiss="modal" class="btn btn-success">Zapłać</button>-->
    <!--<button (click)="resignFromEvent()" class="btn btn-danger">Zrezygnuj</button>-->
  <!--</ng-container>-->
  <!--<ng-container *ngSwitchCase="ParticipationStatus.PAYED">-->
    <!--<span class="font-weight-bold"> Dokonano już płatności </span>-->
  <!--</ng-container>-->
  <!--<ng-container *ngSwitchCase="ParticipationStatus.NOT_SIGNED_IN">-->
    <!--<a routerLink="/sign_in" data-dismiss="modal">Zaloguj się</a>-->
  <!--</ng-container>-->
<!--</div>-->
