<div class="row">
<section class="col">
    <h2>Dodaj nowy ośrodek</h2>

    <form (ngSubmit)="onSubmit()" #newSportComplexForm="ngForm">
      <div class="form-group">
        <label for="name">Nazwa ośrodka sportowego</label>
        <input [(ngModel)]="sportComplex.name" name="name" type="text" class="form-control" aria-describedby="name"
                 placeholder="Wprowadź nazwę ośrodka" required>
      </div>
      <button type="submit" class="btn btn-primary">Dodaj ośrodek</button>
    </form>
</section>
</div>

