<div class="row">
  <div class="col"></div>

  <main class="col">
    <form (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label for="email">Email</label>
        <input [formControl]="email" [class.is-invalid]="FormHelper.isFormControlInvalid(email)" name="email"
               type="email" class="form-control" aria-describedby="email">
        <div class="invalid-feedback">
          Podaj prawidłowy adres email
        </div>
      </div>

      <div class="form-group">
        <label for="password">Hasło</label>
        <input [formControl]="password" [class.is-invalid]="FormHelper.isFormControlInvalid(password)" name="password"
               type="password" class="form-control" id="password" autocomplete="off">
        <div class="invalid-feedback">
          Podaj hasło
        </div>
      </div>

      <div class="form-group">
        <label for="password">Powtórz hasło</label>
        <input [formControl]="passwordConfirmation" [class.is-invalid]="FormHelper.isFormControlInvalid(passwordConfirmation)"
               name="password_confirmation" type="password" class="form-control" id="password-confirmation"
               autocomplete="off">
        <div *ngIf="passwordGroup.errors?.passwordDoesNotMatchConfirmation && (passwordGroup.touched || passwordGroup.dirty)"
             class="password-mismatch">
          Hasła nie zgadzają się
        </div>
        <div class="invalid-feedback">
          Podaj hasło
        </div>
      </div>

      <button [disabled]="isSubmitDisabled()" type="submit" class="btn btn-primary">Załóż konto</button>
    </form>
  </main>

  <div class="col"></div>
</div>

