<div class="row">
  <div class="col"></div>

  <main class="col">
    <form (ngSubmit)="onSubmit()" novalidate>
      <app-form-field [label]="'Email'" [control]="email" [type]="'email'"
                      [invalidFeedback]="'Podaj prawidłowy adres email'" ></app-form-field>

      <app-form-field [label]="'Hasło'" [control]="password" [type]="'password'" [invalidFeedback]="'Podaj hasło'">
      </app-form-field>

      <!-- TODO: Refactor into app-form-field -->
      <div class="form-group">
        <label for="password">Powtórz hasło</label>
        <input [formControl]="passwordConfirmation" [class.is-invalid]="FormHelper.isFormControlInvalid(passwordConfirmation)"
               name="password_confirmation" type="password" class="form-control" id="password-confirmation"
               autocomplete="off">
        <div *ngIf="passwordGroup.errors?.passwordDoesNotMatchConfirmation && (passwordGroup.touched || passwordGroup.dirty)"
             class="password-mismatch">
          Hasła nie zgadzają się
        </div>
        <div class="invalid-feedback">
          Podaj hasło
        </div>
      </div>

      <app-form-submit-button [isValid]="isFormValid()" [text]="'Załóż konto'" [submitType]="FormSubmitType.OTHER">
      </app-form-submit-button>
    </form>
  </main>

  <div class="col"></div>
</div>

