<div class="row">
  <div class="col">
  </div>

  <div class="col">
    <form (ngSubmit)="onSubmit()" novalidate>
      <app-form-field [label]="'Email'" [control]="email" [type]="'email'"
                      [invalidFeedback]="'Podaj prawidłowy adres email'" ></app-form-field>

      <app-form-field [label]="'Hasło'" [control]="password" [type]="'password'"
                      [invalidFeedback]="'Podaj hasło'" ></app-form-field>

      <app-form-submit-button [isValid]="isFormValid()" [text]="'Zaloguj się'" [submitType]="FormSubmitType.OTHER">
      </app-form-submit-button>
    </form>

    <hr />

    <a [href]="backendSignInAddress" class="btn btn-primary btn-block">Zaloguj się przez Facebooka</a>

    <hr />

    <form (ngSubmit)="onSubmitTest()">
      <app-form-field [label]="'ID'" [control]="testId" [type]="'number'" [invalidFeedback]="'Podaj ID'">
      </app-form-field>

      <app-form-submit-button [text]="'Zaloguj się testowo'" [submitType]="FormSubmitType.OTHER">
      </app-form-submit-button>
    </form>

  </div>
  <div class="col">
  </div>
</div>

