<div class="row">
  <div class="col">
  </div>

  <div class="col">
    <form (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label for="email">Email</label>
        <input [formControl]="email" [class.is-invalid]="FormHelper.isFormControlInvalid(email)" name="email"
               type="email" class="form-control" aria-describedby="email">
        <div class="invalid-feedback">
          Podaj prawidłowy adres email
        </div>
      </div>

      <div class="form-group">
        <label for="password">Hasło</label>
        <input [formControl]="password" [class.is-invalid]="FormHelper.isFormControlInvalid(password)" name="password"
               type="password" class="form-control" autocomplete="off">
        <div class="invalid-feedback">
          Podaj hasło
        </div>
      </div>

      <button [disabled]="isSubmitDisabled()" type="submit" class="btn btn-primary">Zaloguj się</button>
    </form>

    <hr />

    <a [href]="backendSignInAddress" class="btn btn-primary btn-block">Zaloguj się przez Facebooka</a>

    <hr />

    <form (ngSubmit)="onSubmitTest()">
      <div class="form-group">
        <input [formControl]="testId" name="id" type="number" class="form-control" autocomplete="off">
      </div>

      <button type="submit" class="btn btn-primary">Zaloguj się testowo</button>
    </form>

  </div>
  <div class="col">
  </div>
</div>

