<div class="row">
<section class="col">
    <h2 *ngIf="sportComplexToEdit;else new_sport_complex">Edytuj kompleks</h2>
    <ng-template #new_sport_complex>
      <h2>Dodaj nowy kompleks</h2>
    </ng-template>


    <form (ngSubmit)="onSubmit()" #newSportComplexForm="ngForm">
      <app-form-field [label]="'Nazwa kompleksu sportowego'" [control]="sportComplexNameFormControl" [type]="'text'"
                      [invalidFeedback]="'Podaj nazwę kompleksu sportowego'" ></app-form-field>

      <app-form-submit-button [text]="'Dodaj kompleks'" [submitType]="FormSubmitType.CREATE" ></app-form-submit-button>
    </form>
</section>
</div>

