<ng-container [ngSwitch]="appStatus">

<div *ngSwitchCase="ApiStatus.ALL_GOOD" class="container-fluid">
  <app-navbar [title]="title"></app-navbar>
  <app-flash-message></app-flash-message>
  <router-outlet id="main-router"></router-outlet>
</div>

<div *ngSwitchCase="ApiStatus.API_NOT_WORKING" class="container api-not-working" >
  <div class="row">
    <div class="col">
      <div class="alert alert-danger" role="alert">
        Aplikacja nie działa. Spróbuj ponownie później
      </div>
    </div>
  </div>
</div>

<div *ngSwitchCase="ApiStatus.NO_INTERNET_CONNECTION" class="container no-internet-connection">
  <div class="row">
    <div class="col">
      <div class="alert alert-danger" role="alert">
        Brak połączenia z internetem
      </div>
    </div>
  </div>
</div>

</ng-container>
