<div class="row">
  <div class="col">
  </div>

  <div class="col">
    <h3>Znajdź wydarzenie</h3>

    <form (ngSubmit)="searchForEvents()" novalidate>
      <app-select-disciplines [label]="'Dyscyplina'" [disciplinesFormControl]="disciplines">
      </app-select-disciplines>

      <div class="form-group">
        <label>Cena</label>
        <div class="input-group">
          <input [formControl]="price" [class.is-invalid]="price.invalid" name="price" type="number" min="0" step="1"
                 class="form-control"/>
          <div class="input-group-append">
            <div class="input-group-text">PLN</div>
          </div>
          <div class="invalid-feedback">
            Podaj cenę
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col">
          <label>Rok</label>
          <input [formControl]="year" [class.is-invalid]="year.invalid" type="number" min="{{currentDate.year}}"
                 value="{{currentDate.year}}" step="1" name="year" class="form-control" />
          <div class="invalid-feedback">
            Podaj prawidłowy rok
          </div>
        </div>
        <div class="form-group col">
          <label>Miesiąc</label>
          <select [formControl]="month" [class.is-invalid]="month.invalid" name="month" class="form-control">
            <option [ngValue]="month" *ngFor="let month of months">
              {{month.key}}
            </option>
          </select>
          <div class="invalid-feedback">
            Wybierz prawidłowy miesiąc
          </div>
        </div>
        <div class="form-group col">
          <label>Dzień</label>
          <input [formControl]="day" [class.is-invalid]="day.invalid" type="number" min="{{currentDate.day}}"
                 max={{lastDayOfMonth}} value="{{currentDate.day}}" name="day" class="form-control" />
          <div class="invalid-feedback">
            Podaj prawidłowy dzień
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Lokalizacja</label>
        <div class="input-group">
          <input (change)="manualEdition()" [formControl]="location" type="text" name="location"
                 [class.is-invalid]="isLocationInvalid()"
                 class="form-control" />
          <div class="input-group-append">
            <button (click)="fetchCurrentLocation()" class="btn btn-outline-secondary" type="button">
              <fa-icon [icon]="currentLocationIcon"></fa-icon>
            </button>
          </div>
          <div class="invalid-feedback" *ngIf ="isTouchedOrDirty(location)">
            Podaj lokalizację
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Szukaj</button>
    </form>
  </div>

  <div class="col">
  </div>
</div>
