<section>
  <form (ngSubmit)="onSubmit()">
    <app-form-field [label]="'Nazwa areny sportowej'" [control]="name" [type]="'text'"
                    [invalidFeedback]="'Podaj nazwę areny sportowej'"></app-form-field>
    <app-form-field [label]="'Dyscypliny sportowe'" [control]="sportDisciplines" [type]="'select'"
                    [selectParams]="(selectParams | async)" [invalidFeedback]="'Wybierz przynajmniej jedną'">
    </app-form-field>

    <app-form-submit-button [text]="'Stwórz arenę'" [submitType]="FormSubmitType.OTHER" ></app-form-submit-button>
  </form>
</section>
