<div class="modal fade" id="{{id}}" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
      </div>
      <div class="modal-body">
        {{confirmation}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="this.submit.emit()" data-dismiss="modal">{{submitText}}</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{dismissText}}</button>
      </div>
    </div>
  </div>
</div>
