/* You can add global styles to this file, and also import other style files */
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css');

@import "../node_modules/angular-calendar/css/angular-calendar.css";

.clickable-text:hover {
  cursor: pointer;
  color: #17a2b8;
  text-decoration: underline;
}
