<div class="row">
  <section class="col">
    <app-nested-flash-message></app-nested-flash-message>

    <form (ngSubmit)="onSubmit()">
      <app-form-field [label]="'Nazwa kompleksu sportowego'" [control]="complex.name" [type]="'text'"
                      [invalidFeedback]="'Podaj nazwę kompleksu sportowego'" ></app-form-field>

      <app-form-submit-button [isValid]="complex.isValid()" [text]="'Edytuj kompleks'"
                              [submitType]="FormSubmitType.OTHER" ></app-form-submit-button>
    </form>
  </section>
</div>

